*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* for the header */
.header{

}
.log{
    right: 0;
}
/* for the left-side */
.cont{
    flex: 1;
    overflow: auto;
}
/* for the right-side */
.le{
    height: 100%;
}
