*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #384454;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Georgia', serif;
}
.te{
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt{
    margin: 20px 0;
    background-color: #D4D3DC;
    justify-content: center;
    padding: 5px 15px;
    border-radius: 10px;
}
.bb{
    margin: 20px 0;
    justify-content: center;
}